* {
    padding: 0;
    margin: 0;
}
body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

table.Table {
    border: 1px solid rgb(51, 0, 0,);
    background-color: rgba(53, 1, 1, 0.795);
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.Table td, table.Table th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.Table tbody td {
    font-size: 13px;
    color: white;
  }
  table.Table tr:nth-child(even) {
    background: rgb(51, 0, 0);
  }
  table.Table thead {
      background-color: rgb(51, 0, 0);
    border-bottom: 2px solid #444444;
  }
  table.Table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid rgb(51, 0, 0);
  }
  table.Table thead th:first-child {
    border-left: none;
  }
  
  table.Table tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: rgb(51, 0, 0);
    border-top: 2px solid #444444;
  }

  table.Table tfoot{
      background-color: rgba(53, 1, 1, 0.795)
  }
  table.Table tfoot td {
    font-size: 14px;
  }
  table.Table tfoot .links {
    text-align: right;
  }
  table.Table tfoot .links a{
    display: inline-block;
    background: rgb(51, 0, 0);
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }
.head {
    height: auto;

}
.nav{
    width: 100%;
    background-color: rgb(51, 0, 0);
    margin-top: 0px;
    margin-left: 0px;
    margin-right:0px;
    font-family: Arial, Helvetica, sans-serif;


}
nav li{
    float: right;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li a{
    display:block;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}


li a:hover{
    background-color: #00a2ff
}
.main-content {
    flex: 2;
    background-color: white;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 1fr;
    grid-template-areas: ". container .";
}

.container {
    grid-area: container;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas: "upper" "lower";
}




.footer {
    flex: 1;
    display: grid;
    grid-area: footer;
    height :200px;
    background-color:rgb(51, 0, 0);
    height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    
    grid-template-areas: "resolvedcases" "Underinvestigation";
    color: #FFFFFF;
    text-align: center;
}
h3 {
    padding: 30px;
}

#mainselection select {
    margin-top: 15px;
    border: 3px solid rgb(51, 0, 0);
    color: rgb(51, 0, 0);
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 50%;
    *width: 350px;
    *background: #58B14C;
}