
/** styling navigation bar**/
.navbar{
    width: 100%;
    background-color: rgb(51, 0, 0);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li{
float: right;

}


li a{
    display:block;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 20px 16px;
}

li a:hover{
    background-color: #00a2ff
}

/** styling body**/
.titlei{
    text-align: center;
}
a{
    text-align: center;
    font-family: 'Arial, Helvetica, sans-serif';text-align: left;
    color: rgb(51, 0, 0);
    text-decoration:none;
}
.desc{
    text-align: center;
    font-family: 'Arial, Helvetica, sans-serif';
    background-color: rgba(53, 0, 0, 0.575);
    color: #ffffff;
    padding: 18px;

}
/** styling form**/
img{
    position: fixed;
    width: 100%;
    padding: 0%;
    margin: 0%;}
.option{
    width:400px;
    height: 400px;
   position: fixed;
    top: 10%;
    left: 28%;
    margin-top: 20px;
    margin-left: 30px;
    padding: 50px; 
    border: 3px solid rgb(255, 255, 255);
    text-align: center;
    background-color: rgba(53, 0, 0, 0.562);
    color : white
}
input{
    width: 100%;   
    padding: 6px 10px;
    margin: 0px 0;
    box-sizing: border-box;
}
input[type=submit]{  
    background-color:rgb(51, 0, 0);
    border: 2px solid white;
    color: white;
    padding: 16px 32px;
    text-decoration:none;
    margin:4px 2px;
    cursor: pointer;
}
.submit{
    padding: 8px;
}


