
/** styling navigation bar**/
.navbar{
    background-color: rgb(51, 0, 0);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li{
float: right;
border-left: 1px solid #bbb
}


li a{
    display:block;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover{
    background-color: #00a2ff
}
/** styling body**/
img{
    position: fixed;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

/** styling form**/
.headings{
    padding: 0px;
    margin: 0%;
    
}
.loginform{
    width:400px;
    height: 400px;
    position: fixed;
    top: 20%;
    left: 33%;
    margin-top: -70px;
    margin-left: -30px;
    padding: 70px; 
    border: 3px solid rgb(255, 255, 255);
    text-align: center;
    background-color: rgba(53, 0, 0, .562);

    color : white;
}

input{
    width: 100%;   
    padding: 6px;
    margin: 0px;
    box-sizing: border-box;
}
input[type=submit]{  
    background-color:rgb(51, 0, 0);
    border: 2px solid white;
    color: white;
    padding: 16px 32px;
    text-decoration:none;
    margin:10px 2px;
    cursor: pointer;
}
a{
    color: white;
    padding: 10px;
}


