
/** styling navigation bar**/
.navbar{
    background-color: rgb(51, 0, 0);
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

li{
float: right;
border-left: 1px solid #bbb
}
li:last-child{
    border-right: none;
}
li a{
    display:block;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover{
    background-color: #00a2ff
}

/** styling form**/
.loginform{
    
    position: fixed;
    top: 20%;
    left: 33%;
    margin-top: -50px;
    margin-left: -30px;
    padding: 70px; 
    border: 5px solid gray;
    text-align: center;
    background-color: rgba(53, 0, 0, 0.562)

}
input{
    width: 100%;   
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=submit]{  
    background-color: rgb(51, 0, 0);
    border:none;
    color: white;
    padding: 16px 32px;
    text-decoration:none;
    margin:4px 2px;
    cursor: pointer;
}


